.employerSignupPage{
    padding: 20px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Darker Grotesque', sans-serif;
    min-height: 90vh;
    text-align: center;
}


.employerSignupPage button{
    background-color: black;
    color: white;
}

.employerSignupPage form{
    display: flex;
    flex-direction: column;
}

.employerSignupPage form *{
    margin: 10px;
}


.employerSignupPage input, select{
    width: 300px;
outline: none;
height: 35px;
border: 1px solid black;
}